<html>
<center><h2> Employee Editing </h2></center>
<br>
<br>
<br>
<table>
    <tr bgcolor="Red">
        <td>Employee No.</td>
        <td>Name</td>
        <td>Department</td>
        <td>Pay Rate</td>
        <td>Hours</td>
        <td>Shifts</td>
        <td>Edit/Delete</td>
    </tr>
    {% for record in records %}
        <tr>
            <td>{{record.emp_no}}</td>
            <td>{{record.name}}</td>
            <td>{{record.dept}}</td>
            <td>{{record.rate}}</td>
            <td>{{record.hours}}</td>
            <td>{{record.shifts}}</td>
            <td>
                <a href="{{ url_for('editemployee', emp_no=record.emp_no) }}">Edit</a>
                <a href="{{ url_for('delemp', emp_no=record.emp_no) }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
<a href="{{ url_for('addemp') }}"> Add Employee </a>
</html>