<html>
<center><h2>Rota Creation System</h2></center>
<br>
<br>
<br>
<a href="{{ url_for('employees') }}"> View Employees </a>
<a href="{{ url_for('shifts') }}"> View Shifts </a>
<table>
    <tr style="color:white; background-color:red;">
        <td>ID</td>
        <td>Employee No.</td>
        <td>Shift No.</td>
    </tr>
    {% for record in records %}
        <tr>
            <td>{{record.id}}</a></td>
            <td>{{record.emp_no}}</td>
            <td>{{record.shift_no}}</td>
        </tr>
    {% endfor %}
</table>
<a href="{{ url_for('createrota') }}">Create New Rota </a>
</html>