<html>
<center><h2>Rota Creation System</h2></center>
<br>
<br>
<br>
<a href="http://localhost:5000/employees"> View Employees </a>
<a href="http://localhost:5000/shifts"> View Shifts </a>
<table>
    <tr bgcolor="Red">
        <td>ID</td>
        <td>Employee No.</td>
        <td>Shift No.</td>
    </tr>
    {% for record in records %}
        <tr>
            <td><a href="http://localhost:5000/editrecord">{{record.id}}</a></td>
            <td>{{record.emp_no}}</td>
            <td>{{record.shift_no}}</td>
        </tr>
    {% endfor %}
</table>
</html>